/**
 * Cauliflower用の拡張CSS
 * inject.jsでパス指定して読み込んでいる
 */
.blocklySvg {
    background-color: #66696B;
    /*
     background-color: #75787B;
     background-color:  #7C8083;
     */
}

.blocklyFlyoutBackground {
    background-color: #66696B;
}

/* 制御*/
.control > rect {
    fill: #ff8c00;
}

.control-catmaker {
    fill: #ff8c00;
}

.control {
    font-weight: bold;
    font-size: 13px;
}

/* 論理*/
.logic > rect {
    fill: #62c213;
}

.logic-catmaker {
    fill: #62c213;
}

.logic {
    font-weight: bold;
    font-size: 13px;
}

/* 数値*/
.math > rect {
    fill: #cf4ad9;
}

.math-catmaker {
    fill: #cf4ad9;
}

.math {
    font-weight: bold;
    font-size: 13px;
}

/* 文字列*/
.text > rect {
    fill: #4a6cd4;
}

.text-catmaker {
    fill: #4a6cd4;
}

.text {
    font-weight: bold;
    font-size: 13px;
}

/* 配列*/
.list > rect {
    fill: #d94d11;
}

.list-catmaker {
    fill: #d94d11;
}

.list {
    font-weight: bold;
    font-size: 13px;
}

/* 変数*/
.variables > rect {
    fill: #f3761d;
}

.variables-catmaker {
    fill: #f3761d;
}

.variables {
    font-weight: bold;
    font-size: 13px;
}

/* 関数 */
.procedures > rect {
    fill: #55aa88;
}

.procedures-catmaker {
    fill: #55aa88;
}

.procedures {
    font-weight: bold;
    font-size: 13px;
}

/* HTML */
.myDocument > rect {
    fill: #8e56e3;
}

.myDocument-catmaker {
    fill: #8e56e3;
}

.myDocument {
    font-weight: bold;
    font-size: 13px;
}

/* ジョーカー */
.joker > rect {
    fill: #000000;
}

.joker-catmaker {
    fill: #000000;
}

.joker {
    font-weight: bold;
    font-size: 13px;
}

